.topbar {
    position: fixed;
    width: 100%;
    height: 48px;
    background: $primary;
}

.sidebar {
    position: fixed;
    margin-top: 48px;
    width: 220px;
    height: calc(100vh - 48px);
    background: $secondary;
}

.main {
    margin-left: 220px;
    padding-top: 48px;
    width: calc(100% - 220px);
}

.nav {
    &-btn-expand {
        position: relative;
        width: 2.4rem;
        height: 20px;
        >span {
            position: absolute;
            width: 100%;
            height: 2px;
            background: $light;
            border-radius: 0.8rem;
            transition: $transition;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 9px;
            }
            &:nth-child(3) {
                top: 18px;
            }
        }
        &.selected {
            >span {
                &:nth-child(1) {
                    width: 60%;
                    top: 15px;
                    right: -1px;
                    transform: rotateZ(-45deg);
                }
                &:nth-child(3) {
                    width: 60%;
                    top: 3px;
                    right: -1px;
                    transform: rotateZ(45deg);
                }
            }
            &.expanded {
                >span {
                    &:nth-child(1) {
                        left: -1px;
                        transform: rotateZ(45deg);
                    }
                    &:nth-child(3) {
                        left: -1px;
                        transform: rotateZ(-45deg);
                    }
                }
            }
        }
    }
}
